{% extends 'base.html' %}
{% load embed_video_tags %}

    

{% block content %}
    <h2 class="mb-5">Videos de Youtube</h2>
    
    <div class="d-flex flex-wrap ">

        {% for item in  videos %}


          <div class="px-3 mb-5 ">
              {% video item.url '426x240'%}
        
              <div class="d-flex justify-content-start">
                 {{ item.title}}
              </div>
         </div>
         {% endfor %}
    </div>
       
       
       
        
    
        
{% endblock  %}
    